HTTP_PORT=8080
ONLYOFFICE_PORT=8082
ONLYOFFICE_JWT_SECRET=change-me
MAX_CONTENT_LENGTH=33554432
ONLYOFFICE_PUBLIC_BASE_URL=/onlyoffice
SESSION_TTL_SECONDS=2100
TEMPLATE_BUILDER_SESSION_TTL_SECONDS=2100
